.about_us {
  display: flex;
}

.about_us_images {
  display: inline;
  max-width: 10%;
  margin-bottom: auto;
  padding: 2%;
}

.checklist {
  width: 140rem;
  background-color: $wetCement;
  color: $offWhite;
}

.list_with_leftImage {
  display: flex;
}

.about {
  display: flex;
  flex-direction: column;
  background-color: $offWhite;
}

.about_us_title {
  margin-bottom: 0;
  text-align: center;
  font-size: $font-l;
}

.about_us_content {
  text-align: center;
}

.get_in_touch {
  background-color: $deepOrange;
  color: $offWhite;
  padding: 1rem;
  gap: 10px;

  &__heading {
    margin: 1px;
  }

  &__sentence {
    display: block;
    font-size: $font-s;
  }
}

@media (max-width: 50em) {
  .about_us {
    flex-direction: column;
  }

  .checklist {
    width: 100%;
  }

  .get_in_touch {
    &__heading {
      margin: auto;
    }

    &__cta {
      margin: auto;
    }
  }
}
